*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
credentials.json
google_cloud_api_key.txt
google_assistant_sdk_device_model_id.txt
